<div style="background:#fff;padding:0px 0;font-family:'Open Sans',Open Sans,sans-serif!important">
<table bgcolor="#2b333a" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="width:33%"></td>
          <td>
            <table width="100%" style="margin:0 auto;margin-top:30px;margin-bottom:30px;background:transparent;border-collapse:collapse;text-align:center">
              <tbody>
                <tr>
                  <td>
                    <img src="https://i.imgur.com/8YnHdGY.png" height="38">
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" style="margin:0 auto;background:#fff;border-collapse:collapse;border-radius:6px">
              <tbody>
                <tr>
                  <td style="background:#5a2d8a;padding:30px;border-radius:4px;border-bottom-left-radius:0;border-bottom-right-radius:0;width:100%">
                    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;background-color:#5a2d8a;width:600px;table-layout:fixed">
                      <tbody>
                        <tr>
                          <td style="padding:0;vertical-align:top;text-align:left;padding-top:10px">
                            <div style="font-size:12px;Margin-bottom:15px;font-style:normal;font-weight:400;font-family:'Open Sans',Open Sans,Arial,sans-serif!important;color:#8e8e8e" align="center">
                              <img style="border:0;display:block;max-width:64px" src="https://i.imgur.com/zWIln5D.png" alt="" width="50" height="50">
                            </div>
                            <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                              <tbody>
                                <tr>
                                  <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                                    <p style="Margin-top:0;font-style:normal;font-weight:400;font-size:20px;line-height:28px;Margin-bottom:10px;font-family:'Open Sans',Open Sans,Arial,sans-serif!important;color:#8e8e8e;text-align:center">
                                      <span style="color:#ffffff;font-family:'Open Sans',Open Sans,Arial,sans-serif!important">
                                        Congratulations! Your job <strong>is now</strong> published.
                                            </span>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:30px">
                    <p><span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:16px;font-weight:bold;color:#87919b">Job Approved</span><br>
                      <span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:14px;color:#000000">By <strong>{{mod_name}}</strong></span>
                    </p>
                    <p><span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:16px;font-weight:bold;color:#87919b">Open Day</span>
                    <br>
                      <span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:14px;color:#000000">{{open_day}}
                      </span>
                    </p>
					<p><span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:16px;font-weight:bold;color:#87919b">Closing Day</span>
                    <br>
                      <span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:14px;color:#000000">{{closing_day}}
                      </span>
                    </p>
                                        <p><span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:16px;font-weight:bold;color:#87919b">Regarding</span>
                    <br>
                      <span style="font-family:'Open Sans',Open Sans,Arial,sans-serif!important;font-size:14px;color:#000000">Job: "<a href="{{job_url}}">{{job_title}}</a>"</span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="color:#2b333a;padding:0 30px 30px;border-radius:4px;border-top-left-radius:0;border-top-right-radius:0">

                     <table style="margin-bottom:28px;color:#414b55!important">
                <tbody><tr>
                    <td style="width:50%">
                                                    <a href="mailto:{{mod_mail}}" style="display:block;text-decoration:none;color:#fff;text-align:center;text-transform:uppercase;margin:0;background:#8e58a4;padding:12px;font-size:12px;border-radius:4px" target="_blank">
                                Contact {{mod_name}}
                            </a>
                                            </td>
                    <td>&nbsp;</td>
                    <td style="width:50%">
                                                    <a href="{{job_url}}" style="display:block;text-decoration:none;color:#fff;text-align:center;text-transform:uppercase;margin:0;background:#3d64af;padding:12px;font-size:12px;border-radius:4px" target="_blank">
                                Go to Job
                            </a>
                                            </td>
                </tr>
            </tbody></table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="600" style="margin:0 auto;border-collapse:collapse">
              <tbody>
                <tr>
                  <td style="background:#2b333a">
                    <div style="color:#87919b;text-align:center;margin:20px 20px 20px 20px">
                      <p style="font-size:12px;line-height:20px;font-family:'Open Sans',Open Sans,Arial,sans-serif!important;color:#546474;font-weight:600;text-decoration:none">
                        We sent this email because it was either registered to a user of Startup.JOBS, or
                    it was sent on behalf of one of our users. If you feel the content of this email or use of this
                    email address is questionable, please notify us at <a href="mailto:support@startup.jobs" style="color:#546474;font-weight:600;text-decoration:none" target="_blank">support@startup.jobs</a>.
                </p>
                      <p style="font-size:12px;line-height:20px;color:#546474;font-weight:600;text-decoration:none">Copyright ©2017 Startup.JOBS. All rights reserved.</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td width="33%">
          </td>
        </tr>
      </tbody>
    </table>
</div></div>