<div style="background:#fff;padding:0;font-family:'Open Sans',Open Sans,sans-serif!important">
<table bgcolor="#2b333a" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td>
            <table width="600" style="margin:20px auto 0;background:transparent;border-collapse:collapse;text-align:center">
                <tbody><tr>
                    <td>
                        <div style="font-size:16px;line-height:16px">&nbsp;</div>
                        <img src="https://i.imgur.com/VElRb7b.png" height="38">
                        <div style="font-size:36px;line-height:36px">&nbsp;</div>
                    </td>
                </tr>
            </tbody></table>
            <table width="600" style="margin:0 auto;background:#fff;border-collapse:collapse;border-radius:6px">
                    <tbody><tr>
        <td style="background:#d42f92;padding:30px;border-radius:4px;border-bottom-left-radius:0;border-bottom-right-radius:0">
            <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;background-color:#d42f92;width:600px;table-layout:fixed">
                <tbody>
                    <tr>
                        <td style="padding:0;vertical-align:top;text-align:left;padding-top:10px">
                            <div style="font-size:12px;Margin-bottom:15px;font-style:normal;font-weight:400;font-family:'Open Sans',Open Sans,sans-serif!important;color:#8e8e8e" align="center">
                                <img style="border:0;display:block;max-width:64px" src="https://i.imgur.com/9XLcE5R.png" alt="" width="50" height="50">
                            </div>
                            <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                <tbody>
                                    <tr>
                                        <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                                            <p style="Margin-top:0;font-style:normal;font-weight:400;font-size:20px;line-height:28px;Margin-bottom:10px;font-family:'Open Sans',Open Sans,sans-serif!important;color:#8e8e8e;text-align:center">
                                                <span style="color:#ffffff;font-family:'Open Sans',Open Sans,sans-serif!important;font-weight:bold">
                                                    Congratulations {{Full name}}
                                                </span>
                                                <br>
                                                <span style="color:#ffffff;font-family:'Open Sans',Open Sans,sans-serif!important;font-weight:normal!important">
                                                    You've made it to the next step of the hiring process
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:30px">
			<p>{{Employer name}} would like you to answer a few questions in a One-Way Video Interview on <a href="https://InterviewAPP.com">InterviewAPP</a></p>
			<p>Here are the details for your interview:</p>
                            <table style="margin-bottom:16px;width:500px;color:#414b55!important">
                    <tbody><tr style="height:28px">
                        <td style="width:30%;font-weight:bold;text-transform:uppercase;font-size:14px">
                            Company
                        </td>
                        <td style="width:70%;font-size:14px">
						{{employer name}}
                        </td>
                    </tr>
					<tbody><tr style="height:28px">
                        <td style="width:30%;font-weight:bold;text-transform:uppercase;font-size:14px">
                            Position
                        </td>
                        <td style="width:70%;font-size:14px">
						{{job title}}
                        </td>
                    </tr>
                    <tr style="height:28px">
                        <td style="width:30%;font-weight:bold;text-transform:uppercase;font-size:14px">
                            Due Date
                        </td>
                        <td style="width:70%;font-size:14px;color:#8e58a4!important">
                            November 03, 2017 at 8:00 PM
                        </td>
                    </tr>
					<tr style="height:28px">
                        <td style="width:30%;font-weight:bold;text-transform:uppercase;font-size:14px">
                            Invitation Code
                        </td>
                        <td style="width:70%;font-size:14px">
						78892738
                        </td>
                    </tr>
                </tbody></table>
                        <table style="margin-bottom:28px;color:#414b55!important">
                <tbody><tr>
                    <td style="width:50%">
                                                    <a href="{{link open inviteation app}}" style="display:block;text-decoration:none;color:#fff;text-align:center;text-transform:uppercase;margin:0;background:#8e58a4;padding:12px;font-size:12px;border-radius:4px" target="_blank">
                                Accept interview invitation
                            </a>
                                            </td>
                    <td>&nbsp;</td>
                    <td style="width:50%">
                                                    <a href="{{job url}}" style="display:block;text-decoration:none;color:#fff;text-align:center;text-transform:uppercase;margin:0;background:#3d64af;padding:12px;font-size:12px;border-radius:4px" target="_blank">
                                Go to Job
                            </a>
                                            </td>
                </tr>
            </tbody></table>
                            <p>
                    </p><h3 style="font-size:14px;text-transform:uppercase;color:#414b55!important">Message from {{Employer name}}</h3>
                    <span style="font-family:'Open Sans',Open Sans,sans-serif!important;font-size:14px;color:#414b55!important">
					{{Message here 
					<br/><br/>
					Heehehe
					}}
                    </span>
                <p></p>
				<hr/>
				<h3 style="font-size:14px;text-transform:uppercase;color:#414b55!important">How it Works</h3>
                    <span style="font-family:'Open Sans',Open Sans,sans-serif!important;font-size:14px;color:#414b55!important">
					We've created step-by-step instructions depending on the type of device you're going to use to do the interview:
					<ul>
					<li><a href="http://go.interviewapp.com/ios-how-it-works">iOS mobile application</a></li>
					<li><a href="http://go.interviewapp.com/android-how-it-works">Android mobile application</a></li>
					</ul>
					
					If you have any questions along the way, please reach out to us as we're here to help!
					
					<p><strong>InterviewAPP Team</strong></p>
                    </span>					
                    </td>
    </tr>
            </tbody></table>
            <table width="600" style="margin:0 auto;border-collapse:collapse">
                <tbody><tr>
                    <td style="background:#2b333a">
                        <div style="color:#87919b;padding:20px 0;text-align:center">
                            <p style="font-size:12px;line-height:20px;font-family:'Open Sans',Open Sans,sans-serif!important;color:#546474;font-weight:600;text-decoration:none">
                                We sent this email to this address because it was either registered to a user of InterviewAPP, or
                                it was sent on behalf of one of our users. If you feel the content of this email or use of this
                                email address is questionable, please notify us at <a href="mailto:support@interviewapp.com" style="color:#546474;font-weight:600;text-decoration:none" target="_blank">support@interviewapp.com</a>.
                            </p>
                            <p style="font-size:12px;line-height:20px;color:#546474;font-weight:600;text-decoration:none">Copyright ©2017 InterviewAPP.com. All rights reserved.</p>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
</div></div>